*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-background: #DAE0F5;
    --color-primary: #9b65db;
    --color-white: #F5F5F5;
    --text-color: #AF7EEB;

    --header-height: 6rem;

    --font-size-mobile: 1.6rem;


    --basic-radius: 1px;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--color-background);
    color: var(--color-white);
    font-family: 'Ubuntu', sans-serif;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}


.header {
    background: var(--color-primary);
    height: var(--header-height);
    font-size: var(--font-size-mobile);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    border-radius: var(--basic-radius);
}

.header__text {

}


.header__h-menu {
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: 1.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.header__h-menu div {
    width: 100%;
    height: 0.2rem;
    background: var(--color-white);
}

.todo-box {
    background: var(--color-white);
    color: var(--color-primary);
    width: 80%;
    min-height: 10%;
    border-radius: var(--basic-radius);
    padding: 3rem 4rem;
    font-size: 1.8rem;
    position: relative;
}

.todo-box__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    word-spacing: 2px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.todo-box__item {
    width: 100%;
}

.todo-box__item input {
    margin: 0 1rem 0 1rem;
}

.todo-box__item input {
    opacity: 0;
}

.todo-box__item label::before {
    line-height: 1.5em;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid rgb(82, 82, 82);
    background: var(--color-white);
    position: relative;
    right: 2.5rem;
    top: 0.05rem;
}

.todo-box__item input:checked ~ label::before {
    content: '';
    background: var(--color-primary);
    position: relative;
}


.todo-box__item input:checked ~ label {
    text-decoration: line-through;
}

.todo-box__item input:checked ~ i {
    opacity: 1;
}


.todo-box__item i {
    position: absolute;
    right: -1rem;
    font-size: 1.5rem;
    opacity: 0;
}

.btn-box {
    background: var(--color-primary);
    width: 15rem;
    color: var(--color-white);
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 0;
    border-radius: 2rem;
    bottom: -2rem;
}

.btn-box i {
    font-size: 1.4rem;
}
